@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: clamp(1rem, 1vw, 1.125rem);
  padding-bottom: 50px;
}

nav {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  z-index: 1;
  top: 0;
}

.nav-menu-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.466);
  display: none;
}

.nav-menu-wrapper .nav-menu {
  width: 70%;
  height: 100vh;
  padding: 100px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  gap: 20px;
}

.nav-menu-wrapper .nav-menu .nav-link {
  color: black;
  font-weight: 600;
}

.nav-menu-wrapper.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.nav-left .bars-icon {
  position: relative;
  width: 30px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
}

.nav-left .bars-icon input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  opacity: 0;
  z-index: 5;
}

.nav-left .bars-icon span {
  background-color: #68707d;
  height: 5px;
  width: 30px;
  border-radius: 3px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.nav-left .bars-icon input:checked ~ span:nth-child(2) {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-left .bars-icon input:checked ~ span:nth-child(3) {
  opacity: 0;
}

.nav-left .bars-icon input:checked ~ span:nth-child(4) {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-left .logo {
  font-weight: bold;
  font-size: 36px;
  color: var(#1d2025);
}

.nav-left .nav-wrapper {
  margin-left: 40px;
  display: none;
  gap: 40px;
}

.nav-left .nav-wrapper .nav-link {
  color: #68707d;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-right .cart-icon {
  width: 25px;
  position: relative;
}

.nav-right .cart-icon .cart-quantity {
  position: absolute;
  background-color: #c0810c;
  top: 0;
  right: 0;
  padding: 1px 5px;
  border-radius: 50%;
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
  color: white;
}

.nav-right .cart-icon .show-cart {
  padding: 20px;
  z-index: 3;
  top: 20px;
  right: -50px;
  position: absolute;
  width: 400px;
  height: 300px;
  outline: 1px solid rgba(126, 126, 126, 0.274);
  background-color: white;
  border-radius: 10px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-right .cart-icon .show-cart .show-cart-head {
  padding-bottom: 20px;
  border-bottom: 1px solid #b6bcc8;
}

.nav-right .cart-icon .show-cart .show-cart-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  gap: 35px;
}

.nav-right .cart-icon .show-cart .show-cart-content .cart-empty {
  font-weight: bold;
  color: #68707d;
}

.nav-right .cart-icon .show-cart .show-cart-content .show-cart-image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
}

.nav-right .cart-icon .show-cart .show-cart-content .cart-brand {
  color: #68707d;
}

.nav-right .cart-icon .show-cart .show-cart-content .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.nav-right .cart-icon .show-cart .show-cart-content .price .cart-price-quantity {
  color: #68707d;
}

.nav-right .cart-icon .show-cart .show-cart-content .price .cart-price {
  font-weight: bold;
}

.nav-right .cart-icon .show-cart .show-cart-content .delete-icon {
  cursor: pointer;
}

.nav-right .cart-icon .show-cart .btn-checkout {
  color: white;
  border-radius: 10px;
  background-color: #fda058;
  border: none;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
}

.nav-right .cart-icon:hover .show-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-right .avatar {
  width: 30px;
}

.image-slideshow {
  width: 500px;
  margin: auto;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.image-slideshow .slide-image {
  width: 100%;
}

.image-slideshow .btn-slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 20px;
}

.image-slideshow .btn-slideshow .btn-prev,
.image-slideshow .btn-slideshow .btn-next {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.image-slideshow .btn-slideshow .btn-prev img,
.image-slideshow .btn-slideshow .btn-next img {
  width: 10px;
}

.image-thumbnails {
  display: none;
  width: 500px;
  margin: 20px auto;
  gap: 20px;
}

.image-thumbnails .thumbnails {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
}

main {
  display: -ms-grid;
  display: grid;
  padding-top: 70px;
}

article {
  padding: 30px 50px;
}

article .sub-heading {
  color: #fda058;
  font-size: clamp(1rem, 1vw, 1.125rem);
}

article .heading {
  font-size: clamp(1.8rem, 2vw, 2.5rem);
  padding: 20px 0;
}

article .text {
  font-size: clamp(1rem, 1vw, 1.125rem);
  color: #68707d;
  line-height: 1.8rem;
}

article .price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}

article .price-wrapper .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

article .price-wrapper .discount-tag {
  color: #fda058;
  font-size: clamp(1rem, 1vw, 1.125rem);
  background-color: #ffe7d6;
  padding: 3px;
  border-radius: 5px;
}

article .price-wrapper .actual-price {
  color: #b6bcc8;
  text-decoration: line-through;
  font-size: clamp(1rem, 1vw, 1.125rem);
}

article .quantity-wrapper .quantity-control {
  width: 300px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article .quantity-wrapper .quantity-control .quantity {
  font-weight: bold;
}

article .quantity-wrapper .quantity-control .quantity-min,
article .quantity-wrapper .quantity-control .quantity-plus {
  cursor: pointer;
}

article .quantity-wrapper .btn-cart {
  background-color: #fda058;
  color: white;
  width: 400px;
  border: none;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin: auto;
  -webkit-box-shadow: 0px 10px 10px rgba(204, 142, 27, 0.329);
          box-shadow: 0px 10px 10px rgba(204, 142, 27, 0.329);
}

article .quantity-wrapper .btn-cart img {
  width: 20px;
}

@media (min-width: 800px) {
  .nav-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .nav-left .bars-icon {
    position: relative;
    width: 30px;
    height: 25px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 3;
  }
  .nav-left .bars-icon input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    opacity: 0;
    z-index: 5;
  }
  .nav-left .bars-icon span {
    background-color: #68707d;
    height: 5px;
    width: 30px;
    border-radius: 3px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .nav-left .bars-icon input:checked ~ span:nth-child(2) {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav-left .bars-icon input:checked ~ span:nth-child(3) {
    opacity: 0;
  }
  .nav-left .bars-icon input:checked ~ span:nth-child(4) {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .nav-left .logo {
    font-weight: bold;
    font-size: 36px;
    color: var(#1d2025);
  }
  .nav-left .nav-wrapper {
    margin-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
  }
  .nav-left .nav-wrapper .nav-link {
    color: #68707d;
  }
}

@media (min-width: 1000px) {
  .quantity-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .quantity-wrapper .quantity-control {
    width: 400px;
    margin: 30px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .quantity-wrapper .quantity-control .quantity {
    font-weight: bold;
  }
  .quantity-wrapper .quantity-control .quantity-min,
  .quantity-wrapper .quantity-control .quantity-plus {
    cursor: pointer;
  }
  .quantity-wrapper .btn-cart {
    background-color: #fda058;
    color: white;
    width: 200px;
    border: none;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin: auto;
    -webkit-box-shadow: 0px 10px 20px rgba(204, 142, 27, 0.582);
            box-shadow: 0px 10px 20px rgba(204, 142, 27, 0.582);
  }
  .quantity-wrapper .btn-cart img {
    width: 20px;
  }
}

@media (min-width: 1200px) {
  main {
    padding: 30px;
    margin-top: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  article {
    margin-top: 100px;
    width: 700px;
  }
  .image-slideshow {
    width: 500px;
    margin: auto;
    height: 500px;
    position: relative;
    overflow: hidden;
  }
  .image-slideshow .slide-image {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
  }
  .image-slideshow .btn-slideshow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 0 20px;
  }
  .image-slideshow .btn-slideshow .btn-prev,
  .image-slideshow .btn-slideshow .btn-next {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: none;
    place-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .image-slideshow .btn-slideshow .btn-prev img,
  .image-slideshow .btn-slideshow .btn-next img {
    width: 10px;
  }
  .image-thumbnails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    margin: 20px auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .image-thumbnails .thumbnails {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
  .image-thumbnails .thumbnails:hover {
    opacity: .7;
  }
  .image-thumbnails .thumbnails.active {
    opacity: 0.7;
    outline: 2px solid orange;
  }
}
/*# sourceMappingURL=main.css.map */